@font-face {
    font-family: IndieFlower-Regular;
    src: url(../fonts/IndieFlower-Regular.ttf);
}

body{
    background-image: url(../assets/marek-piwnicki-87KJx1xe268-unsplash.jpg);
}

.pageHeading{
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;
    height: auto;
    width: 14em;
    text-align: center;
    border-radius: 0.5em;
    font-family: IndieFlower-Regular;
}

.menuBtns{
    display: flex;
    justify-items: space-between;
    align-content: center;
    margin: auto;
    
}

.menuBtn{
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.mainMenu{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

.paragraphText{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 13em;
    border-radius: 0.5em;
    padding: 1em;
    height: auto;
    font-size: 1.5em;
}